In [91]:
dept_mapping = {
    'HR': 'Human Resource',
    'H.R': 'Human Resource',
    'Human Resources': 'Human Resource',
    'IT': 'Information Technology',
    'Information Technology': 'Information Technology',
    'Ops': 'Operations',
    'Operations': 'Operations',
    'Eng': 'Engineering',
    'Engineering': 'Engineering',
    'FIN': 'Finance',
    'Finance': 'Finance',
    'sales': 'Sales',
    'Sales': 'Sales'
}

df['department'] = (
    df['department']
    .astype(str)
    .str.strip()
    .replace(dept_mapping)
)

print("\nDepartment values after standardization:")
print(df['department'].value_counts())

Department values after standardization:
department
Information Technology    29
Engineering               28
Sales                     22
Human Resource            21
H.R.                      19
Finance                   19
Operations                17
Name: count, dtype: int64

In [92]:
currency_map = {
    "ZAR": "ZAR",
    "R": "ZAR",
    "$": "USD",
    "GBP": "GBP",
    "£": "GBP",
    "USD": "USD",
}

df['currency'] = df['currency'].replace(currency_map)  

print("\nCurrency values after standardization")
print(df['currency'].value_counts())

Currency values after standardization
currency
ZAR    66
USD    44
GBP    25
Â£     20
Name: count, dtype: int64

In [93]:
country_mapping = {
    'south-africa': 'South Africa',
    'South Africa': 'South Africa',
    'SA': 'South Africa',
    'ZA': 'South Africa',
    'UK': 'United Kingdom',
    'U.K.': 'United Kingdom',
    'United Kingdom': 'United Kingdom',
    'USA': 'United States',
    'United States': 'United States'
}

df['country'] = df['country'].replace(country_mapping)

print("\nCountry values after standardization")
print(df['country'].value_counts())

Country values after standardization
country
South Africa      63
United Kingdom    59
United States     33
Name: count, dtype: int64

In [94]:
state_mapping = {
    'KZN': 'KwaZulu-Natal',
    'Western Cape': 'Western Cape',
    'Gauteng': 'Gauteng',
    'Limpopo': 'Limpopo'
}

df['state'] = df['state'].replace(state_mapping)

print("\nState values after standardization:")
print(df['state'].value_counts())

State values after standardization:
state
KwaZulu-Natal    31
Gauteng          30
Western Cape     24
Limpopo          17
Name: count, dtype: int64

In [95]:
df['city'] = df['city'].str.title()

print("\nCity values after standardization:")
print(df['city'].value_counts())

City values after standardization:
city
Cape Town       29
Polokwane       23
Johannesburg    21
Durban          20
Pretoria        13
Name: count, dtype: int64

In [96]:
email_pattern = r'.+@.+\..+'

df['email_valid'] = df['email'].str.match(email_pattern, na=False)

invalid_emails = df[~df['email_valid']]
print(f"\nNumber of invalid emails: {len(invalid_emails)}")
print("\nInvalid email records:")
print(invalid_emails[['employee_id', 'first_name', 'last_name', 'email']])

Number of invalid emails: 48

Invalid email records:
     employee_id first_name last_name                     email
3           1004       Sam     Brown          sam.brown@example
5           1006        Esi   Dlamini       esi.dlaminimail.com
7           1008     David    Nguyen       david.nguyen@example
10          1011        Mai   van Wyk       mai.van wykmail.com
15          1016       Ken       Khan          ken.khan@example
16          1017       Esi       Khan     esi.khancompany.co.za
17          1018        Esi      Moyo     esi.moyocompany.co.za
19          1020       Vin     Nguyen   vin.nguyencompany.co.za
23          1024       Sam     Naidoo        sam.naidoo@example
25          1026     Alice    Naidoo       alice.naidoo@example
26          1027       Liam    Smith      liam.smithexample.com
32          1033     Isaac      Nkosi        isaac.nkosiexample
34          1035       Bob    Pillay         bob.pillay@example
39          1040       Bob    Dlamini       bob.dlamini@example
42          1043     David    Nguyen       david.nguyen@example
45          1046        Que      Zuma          que.zuma@example
47          1048       Chad   Nguyen        chad.nguyen@example
49          1050        Nia      Khan          nia.khan@example
50          1051      Alice    Brown     alice.brownexample.com
51          1052        Mai    Naidoo     mai.naidooexample.com
55          1056      David     Nkosi    david.nkosiexample.com
61          1062      Isaac   Mthembu     isaac.mthembu@example
69          1070        Pat      Zuma          pat.zuma@example
78          1079       Yara      Khan         yara.khan@example
84          1085        Nia    Pillay        nia.pillay@example
86          1087       Zed    Ndlovu      zed.ndlovuexample.com
90          1091      David     Khan         david.khan@example
91          1092       Tari   Dlamini      tari.dlamini@example
92          1093       Jane   Pillay        jane.pillay@example
93          1094      Liam    Naidoo        liam.naidoo@example
95          1096       Bea   Mthembu        bea.mthembu@example
101         1102      Henry     Nkosi  henry.nkosicompany.co.za
104         1105      Grace    Nkosi        grace.nkosi@example
105         1106      Yara     Nguyen    yara.nguyenexample.com
111         1112     Oscar   Dlamini      oscar.dlamini@example
112         1113     Alice    Ndlovu       alice.ndlovumail.com
114         1115       Will    Nkosi         will.nkosi@example
118         1119      David      Zuma        david.zuma@example
121         1122        Zed    Nguyen        zed.nguyen@example
125         1126     Faith    Pillay       faith.pillay@example
126         1127      Grace     Nkosi    grace.nkosiexample.com
127         1128        Bea    Smith          bea.smith@example
133         1134       Vin     Smith          vin.smith@example
141         1142      Yara      Zuma          yara.zuma@example
142         1143       Rae      Moyo           rae.moyo@example
145         1146      Jane     Nkosi         jane.nkosi@example
149         1150       Bob    Naidoo         bob.naidoo@example
151         1004       Sam     Brown          sam.brown@example

In [97]:
negative_salaries = df[df['salary'] < 0]
print(f"\nNumber of negative salaries: {len(negative_salaries)}")
print("\nNegative salary records:")
print(negative_salaries[['employee_id', 'first_name', 'last_name', 'salary']])

df['salary'] = df['salary'].abs()

print("\nNegative salaries fixed (converted to absolute values)")

Number of negative salaries: 4

Negative salary records:
    employee_id first_name last_name    salary
30         1031      Henry     Brown -26089.36
48         1049       Que   Mthembu  -38232.94
86         1087       Zed    Ndlovu  -31403.47
95         1096       Bea   Mthembu  -34329.59

Negative salaries fixed (converted to absolute values)

In [98]:
df['hire_date'] = pd.to_datetime(df['hire_date'], errors='coerce')
df['exit_date'] = pd.to_datetime(df['exit_date'], errors='coerce')

invalid_dates = df[df['exit_date'] < df['hire_date']]
print(f"\nRecords with exit_date before hire_date: {len(invalid_dates)}")

if len(invalid_dates) > 0:
    print("\nInvalid date records:")
    print(invalid_dates[['employee_id', 'first_name', 'last_name', 'hire_date', 'exit_date']])
    
    df.loc[df['exit_date'] < df['hire_date'], 'exit_date'] = pd.NaT
    print("\nInvalid exit dates set to NaN")

Records with exit_date before hire_date: 1

Invalid date records:
     employee_id first_name last_name  hire_date  exit_date
118         1119      David      Zuma 2021-12-09 2021-09-10

Invalid exit dates set to NaN

In [99]:
print("\nMissing Values Summary:")
print(df.isnull().sum())

missing_dept = df[df['department'].isnull()]
print(f"\nRecords with missing department: {len(missing_dept)}")

print("\nMissing value decisions:")
print("- exit_date: Left as NaN for active employees (expected)")
print("- manager_id: Left as NaN (some employees don't have managers)")
print("- department: [State your decision here]")

Missing Values Summary:
employee_id            0
first_name             0
last_name              0
email                  0
gender                 0
department             0
job_title              0
hire_date             49
exit_date            107
is_active             49
salary                 0
currency               0
country                0
state                 53
city                  49
manager_id            27
performance_score     24
email_valid            0
dtype: int64

Records with missing department: 0

Missing value decisions:
- exit_date: Left as NaN for active employees (expected)
- manager_id: Left as NaN (some employees don't have managers)
- department: [State your decision here]

In [100]:
print(f"\nDuplicate employee_ids: {df['employee_id'].duplicated().sum()}")

if df['employee_id'].duplicated().sum() > 0:
    duplicates = df[df.duplicated(subset=['employee_id'], keep=False)]
    print("\nDuplicate records:")
    print(duplicates.sort_values('employee_id'))

initial_count = len(df)
df = df.drop_duplicates(subset=['employee_id'], keep='first')
final_count = len(df)

print(f"\nRemoved {initial_count - final_count} duplicate records")
print(f"Final dataset size: {df.shape}")

Duplicate employee_ids: 5

Duplicate records:
     employee_id first_name last_name                         email gender  \
3           1004       Sam     Brown              sam.brown@example      M
151         1004       Sam     Brown              sam.brown@example      M
150         1007      David      Zuma        david.zuma@example.com      M
6           1007      David      Zuma        david.zuma@example.com      M
12          1013       Que       Khan          que.khan@example.com      F
153         1013       Que       Khan          que.khan@example.com      F
154         1025      Abel      Khan             abel.khan@mail.com      M
24          1025      Abel      Khan             abel.khan@mail.com      M
152         1114     Faith   Govender  faith.govender@company.co.za   Male
113         1114     Faith   Govender  faith.govender@company.co.za   Male

      department       job_title  hire_date  exit_date  is_active    salary  \
3          Sales  Senior Analyst        NaT        NaT        1.0  39890.20
151        Sales  Senior Analyst        NaT        NaT        1.0  39890.20
150        Sales         Manager 2016-03-26 2017-02-28        NaN  34989.32
6          Sales         Manager 2016-03-26 2017-02-28        NaN  34989.32
12          H.R.         Manager 2016-02-08        NaT        0.0  41063.59
153         H.R.         Manager 2016-02-08        NaT        0.0  41063.59
154      Finance  Senior Analyst 2021-07-09        NaT        0.0  34455.37
24       Finance  Senior Analyst 2021-07-09        NaT        0.0  34455.37
152  Engineering  Data Scientist 2017-09-07 2022-04-08        NaN  41790.59
113  Engineering  Data Scientist 2017-09-07 2022-04-08        NaN  41790.59

    currency         country          state       city  manager_id  \
3         Â£   United States  KwaZulu-Natal        NaN      1003.0
151       Â£   United States  KwaZulu-Natal        NaN      1003.0
150      ZAR  United Kingdom   Western Cape        NaN      1003.0
6        ZAR  United Kingdom   Western Cape        NaN      1003.0
12       ZAR   United States        Gauteng  Cape Town      1001.0
153      ZAR   United States        Gauteng  Cape Town      1001.0
154      GBP  United Kingdom        Gauteng        NaN      1016.0
24       GBP  United Kingdom        Gauteng        NaN      1016.0
152      ZAR   United States        Limpopo  Polokwane      1039.0
113      ZAR   United States        Limpopo  Polokwane      1039.0

    performance_score  email_valid
3                   C        False
151                 C        False
150                 A         True
6                   A         True
12                  D         True
153                 D         True
154                 D         True
24                  D         True
152                 B         True
113                 B         True

Removed 5 duplicate records
Final dataset size: (150, 18)

In [101]:
print("\n" + "="*50)
print("FINAL DATA QUALITY REPORT")
print("="*50)

print(f"\nTotal Records: {df.shape[0]}")
print(f"Total Columns: {df.shape[1]}")

print("\nData Types:")
print(df.dtypes)

print("\nMissing Values:")
print(df.isnull().sum())

print("\nInvalid Emails:", (~df['email_valid']).sum())
print("Negative Salaries: Fixed (converted to absolute)")
print("Duplicate Records: Removed")
print("Date Logic Issues: Fixed")

print("\nStandardized Categories:")
print("- Departments:", df['department'].nunique(), "unique values")
print("- Currencies:", df['currency'].nunique(), "unique values")
print("- Countries:", df['country'].nunique(), "unique values")

==================================================
FINAL DATA QUALITY REPORT
==================================================

Total Records: 150
Total Columns: 18

Data Types:
employee_id                   int64
first_name                   object
last_name                    object
email                        object
gender                       object
department                   object
job_title                    object
hire_date            datetime64[ns]
exit_date            datetime64[ns]
is_active                   float64
salary                      float64
currency                     object
country                      object
state                        object
city                         object
manager_id                  float64
performance_score            object
email_valid                    bool
dtype: object

Missing Values:
employee_id            0
first_name             0
last_name              0
email                  0
gender                 0
department             0
job_title              0
hire_date             48
exit_date            104
is_active             47
salary                 0
currency               0
country                0
state                 53
city                  46
manager_id            27
performance_score     24
email_valid            0
dtype: int64

Invalid Emails: 47
Negative Salaries: Fixed (converted to absolute)
Duplicate Records: Removed
Date Logic Issues: Fixed

Standardized Categories:
- Departments: 7 unique values
- Currencies: 4 unique values
- Countries: 3 unique values

In [102]:
import os

os.makedirs('data/cleaned', exist_ok=True)

df_export = df.drop(columns=['email_valid'], errors='ignore')

df_export.to_csv('data/cleaned/employee_data_cleaned.csv', index=False)

print("\n✓ Cleaned data saved to: data/cleaned/employee_data_cleaned.csv")

✓ Cleaned data saved to: data/cleaned/employee_data_cleaned.csv

In [103]:
gender_mapping = {
    'M': 'Male',       
    'Male': 'Male',    
    'F': 'Female',      
    'Other': 'Other'
}

df['gender'] = df['gender'].replace(gender_mapping)

print(df['gender'].value_counts())

gender
Male      67
Female    58
Other     25
Name: count, dtype: int64

In [104]:
string_cols = df.select_dtypes(include=['object']).columns
for col in string_cols:
   df[col] = df[col].str.strip()

   df['first_name'] = df['first_name'].str.title()
   df['last_name'] = df['last_name'].str.title()

   df['email'] = df['email'].str.lower()

   print(df[['first_name', 'last_name', 'email']].head())

  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar  Mthembu   oscar.mthembu@mail.com
3        Sam    Brown        sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com
  first_name last_name                   email
0        Ken    Naidoo  ken.naidoo@example.com
1        Sam     Smith      sam.smith@mail.com
2      Oscar   Mthembu  oscar.mthembu@mail.com
3        Sam     Brown       sam.brown@example
4      Faith   Mthembu  faith.mthembu@mail.com

In [105]:
df['salary'] = df['salary'].astype(str).str.replace(',', '').str.strip()
df['salary'] = pd.to_numeric(df['salary'], errors='coerce')

df['manager_id'] = pd.to_numeric(df['manager_id'], errors='coerce')

print("Salary conversion issues:",df['salary'].isnull().sum())
print("Manager_id conversion issues:", df['manager_id'].isnull().sum())

Salary conversion issues: 0
Manager_id conversion issues: 27

In [106]:
df['hire_date'] = pd.to_datetime(df['hire_date'], format='mixed', dayfirst=True, errors='coerce')
df['exit_date'] = pd.to_datetime(df['exit_date'], format='mixed', dayfirst=True, errors='coerce')

print("Rows with invalid hire_date:", df['hire_date'].isnull().sum())
print("Rows with invalid exit_date:", df['exit_date'].isnull().sum())

Rows with invalid hire_date: 48
Rows with invalid exit_date: 104

In [107]:
print("Dataset Shape:", df.shape)
print("\nColumn Names:") 
print(df.columns.tolist())  
print("\nData Types:")
print(df.dtypes)
print("\nFirst Few Rows:")
print(df.head())
print("\nMissing Values:")
print(df.isnull().sum())
print("\nDuplicate Rows:")
print(df.duplicated().sum())

Dataset Shape: (150, 18)

Column Names:
['employee_id', 'first_name', 'last_name', 'email', 'gender', 'department', 'job_title', 'hire_date', 'exit_date', 'is_active', 'salary', 'currency', 'country', 'state', 'city', 'manager_id', 'performance_score', 'email_valid']

Data Types:
employee_id                   int64
first_name                   object
last_name                    object
email                        object
gender                       object
department                   object
job_title                    object
hire_date            datetime64[ns]
exit_date            datetime64[ns]
is_active                   float64
salary                      float64
currency                     object
country                      object
state                        object
city                         object
manager_id                  float64
performance_score            object
email_valid                    bool
dtype: object

First Few Rows:
   employee_id first_name last_name                   email gender  \
0         1001        Ken    Naidoo  ken.naidoo@example.com   Male
1         1002        Sam     Smith      sam.smith@mail.com   Male
2         1003      Oscar   Mthembu  oscar.mthembu@mail.com   Male
3         1004        Sam     Brown       sam.brown@example   Male
4         1005      Faith   Mthembu  faith.mthembu@mail.com   Male

       department       job_title  hire_date  exit_date  is_active    salary  \
0  Human Resource       Sales Rep 2017-05-29        NaT        1.0  55286.31
1            H.R.       Sales Rep        NaT        NaT        1.0  29408.75
2      Operations        Engineer 2015-02-12        NaT        0.0  35393.84
3           Sales  Senior Analyst        NaT        NaT        1.0  39890.20
4            H.R.        Engineer        NaT 2022-01-22        NaN  25532.92

  currency         country          state          city  manager_id  \
0      GBP    South Africa   Western Cape           NaN         NaN
1      GBP    South Africa            NaN  Johannesburg      1001.0
2      USD    South Africa  KwaZulu-Natal     Cape Town         NaN
3       Â£   United States  KwaZulu-Natal           NaN      1003.0
4      GBP  United Kingdom            NaN     Polokwane         NaN

  performance_score  email_valid
0               NaN         True
1                 C         True
2               NaN         True
3                 C        False
4                 B         True

Missing Values:
employee_id            0
first_name             0
last_name              0
email                  0
gender                 0
department             0
job_title              0
hire_date             48
exit_date            104
is_active             47
salary                 0
currency               0
country                0
state                 53
city                  46
manager_id            27
performance_score     24
email_valid            0
dtype: int64

Duplicate Rows:
0

In [108]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from pathlib import Path

BASE_DIR = Path.cwd().parent
df = pd.read_csv(BASE_DIR / "data" / "raw" / "employee_data_raw.csv")  

print("Data loaded successfully")
print(df.head())

Data loaded successfully
   employee_id first_name last_name                   email gender department  \
0         1001        Ken    Naidoo  ken.naidoo@example.com   Male         HR
1         1002        Sam     Smith      sam.smith@mail.com      M       H.R.
2         1003     Oscar   Mthembu   oscar.mthembu@mail.com   Male        Ops
3         1004       Sam     Brown        sam.brown@example      M      Sales
4         1005     Faith    Mthembu  faith.mthembu@mail.com      M       H.R.

        job_title            hire_date   exit_date  is_active    salary  \
0       Sales Rep  2017-05-29 00:00:00         NaN        1.0  55286.31
1       Sales Rep           04-27-2016         NaN        1.0  29408.75
2        Engineer  2015-02-12 00:00:00         NaN        0.0  35393.84
3  Senior Analyst           01-19-2016         NaN        1.0  39890.20
4        Engineer           06-18-2019  2022-01-22        NaN  25532.92

  currency         country         state          city  manager_id  \
0      GBP    south-africa  Western Cape           NaN         NaN
1      GBP    south-africa           NaN  Johannesburg      1001.0
2        $              SA           KZN     Cape Town         NaN
3       Â£             USA           KZN           NaN      1003.0
4      GBP  United Kingdom           NaN     Polokwane         NaN

  performance_score
0               NaN
1                 C
2               NaN
3                 C
4                 B

In [109]:
import os
os.listdir()

['data', 'data_cleaning.ipynb']

In [110]:
df = pd.read_csv("../data/raw/employee_data_raw.csv")

print("Data loaded successfully")
print(f"Shape: {df.shape}")

Data loaded successfully
Shape: (155, 17)

In [111]:
df = pd.read_csv("../data/raw/employee_data_raw.csv")

In [112]:
from pathlib import Path

BASE_DIR = Path.cwd().parent
df = pd.read_csv(BASE_DIR / "data" / "raw" / "employee_data_raw.csv")

In [113]:
from pathlib import Path
import pandas as pd

BASE_DIR = Path.cwd().parent

csv_path = BASE_DIR / "data" / "raw" / "employee_data_raw.csv"

if not csv_path.exists():
    print(f"File not found at: {csv_path}")
    print(f"Current directory: {Path.cwd()}")
    print(f"BASE_DIR: {BASE_DIR}")
else:
    if csv_path.stat().st_size == 0:
        print("File exists but is empty")
    else:
        try:
            df = pd.read_csv(csv_path)
            print(f"Successfully loaded {len(df)} rows")
        except pd.errors.EmptyDataError:
            print("File has no data or only headers")

Successfully loaded 155 rows

In [114]:
import pandas as pd
from pathlib import Path

BASE_DIR = Path.cwd().parent

excel_path = BASE_DIR / "data" / "raw" / "Week-3-Employee-Data.xlsx"

if excel_path.exists():
    df = pd.read_excel(excel_path)
    print(f"Successfully loaded {len(df)} rows and {len(df.columns)} columns")
    print("\nFirst few rows:")
    print(df.head())
else:
    excel_path = BASE_DIR / "data" / "raw" / "Week-3-Employee-Data.xls"
    if excel_path.exists():
        df = pd.read_excel(excel_path)
        print(f"Successfully loaded {len(df)} rows")
    else:
        print(f"File not found. Looking in: {BASE_DIR / 'data' / 'raw'}")
        print("Files in directory:", list((BASE_DIR / "data" / "raw").iterdir()))

Successfully loaded 155 rows and 17 columns

First few rows:
   employee_id first_name last_name                   email gender department  \
0         1001        Ken    Naidoo  ken.naidoo@example.com   Male         HR
1         1002        Sam     Smith      sam.smith@mail.com      M       H.R.
2         1003     Oscar   Mthembu   oscar.mthembu@mail.com   Male        Ops
3         1004       Sam     Brown        sam.brown@example      M      Sales
4         1005     Faith    Mthembu  faith.mthembu@mail.com      M       H.R.

        job_title            hire_date  exit_date  is_active    salary  \
0       Sales Rep  2017-05-29 00:00:00        NaT        1.0  55286.31
1       Sales Rep           04-27-2016        NaT        1.0  29408.75
2        Engineer  2015-02-12 00:00:00        NaT        0.0  35393.84
3  Senior Analyst           01-19-2016        NaT        1.0  39890.20
4        Engineer           06-18-2019 2022-01-22        NaN  25532.92

  currency         country         state          city  manager_id  \
0      GBP    south-africa  Western Cape           NaN         NaN
1      GBP    south-africa           NaN  Johannesburg      1001.0
2        $              SA           KZN     Cape Town         NaN
3       Â£             USA           KZN           NaN      1003.0
4      GBP  United Kingdom           NaN     Polokwane         NaN

  performance_score
0               NaN
1                 C
2               NaN
3                 C
4                 B

In [115]:
import pandas as pd
from pathlib import Path

BASE_DIR = Path.cwd().parent

excel_path = BASE_DIR / "data" / "raw" / "Week-3-Employee-Data.xlsx"

if excel_path.exists():
    df = pd.read_excel(excel_path)
    
    csv_path = BASE_DIR / "data" / "raw" / "employee_data_raw.csv"
    df.to_csv(csv_path, index=False)
    
    print(f"✓ Successfully loaded {len(df)} rows and {len(df.columns)} columns")
    print(f"✓ Saved as CSV: employee_data_raw.csv")
    print("\nFirst few rows:")
    print(df.head())
else:
    print(f"File still not found at: {excel_path}")
    print("\nPlease move Week-3-Employee-Data.xlsx to:")
    print(BASE_DIR / "data" / "raw")

✓ Successfully loaded 155 rows and 17 columns
✓ Saved as CSV: employee_data_raw.csv

First few rows:
   employee_id first_name last_name                   email gender department  \
0         1001        Ken    Naidoo  ken.naidoo@example.com   Male         HR
1         1002        Sam     Smith      sam.smith@mail.com      M       H.R.
2         1003     Oscar   Mthembu   oscar.mthembu@mail.com   Male        Ops
3         1004       Sam     Brown        sam.brown@example      M      Sales
4         1005     Faith    Mthembu  faith.mthembu@mail.com      M       H.R.

        job_title            hire_date  exit_date  is_active    salary  \
0       Sales Rep  2017-05-29 00:00:00        NaT        1.0  55286.31
1       Sales Rep           04-27-2016        NaT        1.0  29408.75
2        Engineer  2015-02-12 00:00:00        NaT        0.0  35393.84
3  Senior Analyst           01-19-2016        NaT        1.0  39890.20
4        Engineer           06-18-2019 2022-01-22        NaN  25532.92

  currency         country         state          city  manager_id  \
0      GBP    south-africa  Western Cape           NaN         NaN
1      GBP    south-africa           NaN  Johannesburg      1001.0
2        $              SA           KZN     Cape Town         NaN
3       Â£             USA           KZN           NaN      1003.0
4      GBP  United Kingdom           NaN     Polokwane         NaN

  performance_score
0               NaN
1                 C
2               NaN
3                 C
4                 B

In [116]:
import pandas as pd
from pathlib import Path

BASE_DIR = Path.cwd().parent

excel_path = BASE_DIR / "data" / "raw" / "Week-3-Employee-Data.xlsx"

if excel_path.exists():
    df = pd.read_excel(excel_path)
    
    csv_path = BASE_DIR / "data" / "raw" / "employee_data_raw.csv"
    df.to_csv(csv_path, index=False)
    
    print(f"✓ Successfully loaded {len(df)} rows and {len(df.columns)} columns")
    print(f"✓ Saved as CSV: employee_data_raw.csv")
    print("\nFirst few rows:")
    print(df.head())
else:
    print(f"File still not found at: {excel_path}")
    print("\nPlease move Week-3-Employee-Data.xlsx to:")
    print(BASE_DIR / "data" / "raw")

✓ Successfully loaded 155 rows and 17 columns
✓ Saved as CSV: employee_data_raw.csv

First few rows:
   employee_id first_name last_name                   email gender department  \
0         1001        Ken    Naidoo  ken.naidoo@example.com   Male         HR
1         1002        Sam     Smith      sam.smith@mail.com      M       H.R.
2         1003     Oscar   Mthembu   oscar.mthembu@mail.com   Male        Ops
3         1004       Sam     Brown        sam.brown@example      M      Sales
4         1005     Faith    Mthembu  faith.mthembu@mail.com      M       H.R.

        job_title            hire_date  exit_date  is_active    salary  \
0       Sales Rep  2017-05-29 00:00:00        NaT        1.0  55286.31
1       Sales Rep           04-27-2016        NaT        1.0  29408.75
2        Engineer  2015-02-12 00:00:00        NaT        0.0  35393.84
3  Senior Analyst           01-19-2016        NaT        1.0  39890.20
4        Engineer           06-18-2019 2022-01-22        NaN  25532.92

  currency         country         state          city  manager_id  \
0      GBP    south-africa  Western Cape           NaN         NaN
1      GBP    south-africa           NaN  Johannesburg      1001.0
2        $              SA           KZN     Cape Town         NaN
3       Â£             USA           KZN           NaN      1003.0
4      GBP  United Kingdom           NaN     Polokwane         NaN

  performance_score
0               NaN
1                 C
2               NaN
3                 C
4                 B